@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --headerFooter-Color: rgb(177, 177, 177);
  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw; 
}

.homeBody{
  background:var(--headerFooter-Color);
}

/* .mainScrollBar::-webkit-scrollbar {
  width: 5px;
}

.mainScrollBar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.mainScrollBar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.mainScrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
