@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --headerFooter-Color: ##9c9c9c;
  --pageBackground-Color: #d2d0d0;
  --icons-Color:#000000;
  --icons-Text-Color:white;
  --head-Text-Color:black;
  --body-Text-Color:black;
  --button-Color:black;
  --product-Bg-Color:white;
  --mrp-Text-Color:white;
  --head-font-scale-size:"12px";
  --body-font-scale-Size:"12px";
  --font-head-family:'sans-serif';
  --font-body-family:'sans-serif';
  --btn-border-thickness: "2px solid black";
  --btn-border-style:'none';
  --btn-border-radius:'2px';
  --btn-border-color:'white';
  --btn-constrast-border-color:'#000000';
  --btn-horizontal-offset:'2px';
  --btn-vertical-offset:'2px';
  --btn-blur:'2px';
  --btn-shadow-color:'#000000';
  --img-padding:"2px";
  --img-radius:"2px";
  --text-alignment:"left";
  --product-border-thickness:"2px";
  --product-border-style:"none";
  --product-border-radius:"2px";
  --product-border-color:"#000000";
  --product-horizontal-offset:"2px";
  --product-vertical-offset:"2px";
  --product-blur:"2px";
  --product-shadow-color:"#000000";
  --background: #ffffff;
  --foreground: #171717;
  --slider-Height: 9 / 4.5;
  --number-of-product-grid:4;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw; 
  /* font-family: ; */
}

.navBar{
  background:var(--headerFooter-Color);
  color:var(--head-Text-Color);
  font-family: var(--font-head-family);
  /* font-size:var(--head-font-scale-size); */
}

.menuLinks{
  font-size: var(--head-font-scale-size);
  padding: 0;
}

.homeBody{
  background-color: var(--pageBackground-Color);
  color: var(--body-Text-Color);
  font-size: var(--body-font-scale-Size);
  font-family: var(--font-body-family);
}
/* aspect-ratio: var(--slider-Height); */
/* .sliderCss {
} */

.icons{
  color: var(--icons-Color);
}

.ShopIcon{
  background: var(--icons-Color);
  color: var(--icons-Text-Color);
}

.products{
  /* border:; */
  border: var(--product-border-thickness) var(--product-border-color);
  border-style: var(--product-border-style);
  background-color: gray; 
  border-radius: var(--product-border-radius);
  text-align: var(--text-alignment);
  box-shadow: var(--product-horizontal-offset) var(--product-vertical-offset) var(--product-blur) var(--product-shadow-color);
}

.imgContainer{
  padding: var(--img-padding);
}
.productImg{
  /* border: var(--btn-border-thickness) var(--btn-border-style) var(--btn-border-color  );
  box-shadow: var(--btn-horizontal-offset) var(--btn-vertical-offset) var(--btn-blur) var(--btn-shadow-color);
  */
  background-color: var(--product-Bg-Color); 
  border-radius: var(--img-radius);
}

.btn-Custome{
  /* --btn-constrast-border-color:'#000000'; */
  background-color: var(--button-Color);
  border: var(--btn-border-thickness) var(--btn-border-color);
  border-style: var(--btn-border-style);
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-horizontal-offset) var(--btn-vertical-offset) var(--btn-blur) var(--btn-shadow-color);
}


.addCartBtn{
  background-color: var(--button-Color);
  border-radius: 8px;
}

.buyBtn{
 background-color: var(--btn-constrast-border-color);
 border-radius: 8px;
 color: white; 
}

.mrp{
  color: var(--mrp-Text-Color);
}

.richText{
  font-family: var(--font-body-family);
  color: var(--body-Text-Color);
}
.footer{
  background-color: var(--headerFooter-Color);
  color: var(--head-Text-Color);
}

 .mainScrollBar::-webkit-scrollbar {
  width: 5px;
}

.mainScrollBar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.mainScrollBar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.mainScrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
} 


.dotClip{
  white-space: nowrap; 
  width: 90%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}