@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --headerFooter-Color: ##9c9c9c;
  --pageBackground-Color: #d2d0d0;
  --icons-Color:#000000;
  --icons-Text-Color:white;
  --head-Text-Color:black;
  --body-Text-Color:black;
  --button-Color:black;
  --product-Bg-Color:white;
  --mrp-Text-Color:white;
  --font-Scale-Size:12;
  --font-body-Scale-Size:12;
  --font-head-family:'Courier New', Courier, monospace;
  --font-body-family:'Courier New', Courier, monospace;
  --btn-border-thickness: "2px solid black";


  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw; 
  /* font-family: ; */
}

.navBar{
  background:var(--headerFooter-Color);
  color:var(--head-Text-Color);
  font-family: var(--font-head-family);
  /* font-size:var(--font-Scale-Size); */
}

.menuLinks{
  font-size: var(--font-Scale-Size);
  padding: 0;
}

.homeBody{
  background-color: var(--pageBackground-Color);
  color: var(--body-Text-Color);
  font-size: var(--font-body-Scale-Size);
  font-family: var(--font-body-family);
}

.icons{
  color: var(--icons-Color);
}

.ShopIcon{
  background: var(--icons-Color);
  color: var(--icons-Text-Color);
}

.products{
  background-color: var(--product-Bg-Color);
  border: var(--btn-border-thickness) solid black;
  /* border: black; */
}

.mrp{
  color: var(--mrp-Text-Color);
}

/* .mainScrollBar::-webkit-scrollbar {
  width: 5px;
}

.mainScrollBar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.mainScrollBar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.mainScrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
